/* home */
.back {
    position: relative; 
   
}
.head-log {
    max-width: 1800px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
.gif {
    max-width: 1800px;
    width: 100%;
    height: 300px;
}
.home {
    position: fixed;
    left: 5px;
    bottom: 5px;
}
.home-gif {
    width: 80px;

}
.list {
    max-width: 1820px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

} 
.margin {
   
}
.horisont {
    max-width: 280px;
    width: 100%;
    height: 600px;
    
}

.background {
    position: fixed;
}

.foot1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foot {
    width: 100px;
    background-color: white;
    
    position: relative;
}

.slider {
    display: flex;
    position: relative;
}
.slider .slider_item {
    width: 1830px;
    height: 570px;
    margin:30px;
}
.slider .slider_item img {
    width: 1830px;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* iron-man */

.back-iron {
    position: fixed;
}
